
body{
    background-image: url("../img/bg.png");
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 10px;
}

tr{
    border: 1px solid black;
    padding: 10px;
    background: #96D4D4;
}

th{
        border: 1px solid black;
    padding: 10px;
}

td{
    border: 1px solid black;
    padding: 10px;
}

tr:nth-child(even){
    background: #fafafa;
}

/* th:nth-child(even){
    background: #fafafa;
} */